<style>

</style>

<div class="outer flex flex-row h-screen">
    <div class="sidebar flex flex-col bg-[#E9EDC9] rounded-lg border-2 border-[#CCD5AE] w-60">
        <div>taskr</div>
        <div class="flex flex-col">
            <div>Overview</div>
            <div>Projects</div>
        </div>
        <div>Logout</div>
    </div>
    <main class="flex flex-col m-5">
        <section class="flex flex-row justify-start m-2">
            <h1 class="text-xl">
                Welcome, wayson
            </h1>
        </section>
        <div class="inner flex flex-row h-screen">
            <div class="lists flex flex-row h-80">
                <div class="list flex flex-col bg-[#E9EDC9] rounded-lg border-2 border-[#CCD5AE] w-52 m-2 p-3">
                    <div>todo</div>
                    <div class="bg-[#FAEDCD] rounded-lg border-2 border-[#D4A373] min-h-10 mt-3 shadow-md p-1">sadasd</div>
                    <div class="bg-[#FAEDCD] rounded-lg border-2 border-[#D4A373] min-h-10 mt-3 shadow-md p-1">sadasd</div>
                    <div class="bg-[#FAEDCD] rounded-lg border-2 border-[#D4A373] min-h-10 mt-3 shadow-md p-1">sadasd</div>
                </div>
                <div class="list flex flex-col bg-[#E9EDC9] rounded-lg border-2 border-[#CCD5AE] w-52 m-2 p-3">
                    <div>todo</div>
                    <div class="bg-[#FAEDCD] rounded-lg border-2 border-[#D4A373] min-h-10 mt-3 shadow-md p-1">sadasd</div>
                    <div class="bg-[#FAEDCD] rounded-lg border-2 border-[#D4A373] min-h-10 mt-3 shadow-md p-1">sadasd</div>
                    <div class="bg-[#FAEDCD] rounded-lg border-2 border-[#D4A373] min-h-10 mt-3 shadow-md p-1">sadasd</div>
                </div>
                <div class="list flex flex-col bg-[#E9EDC9] rounded-lg border-2 border-[#CCD5AE] w-52 m-2 p-3">
                    <div>todo</div>
                    <div class="bg-[#FAEDCD] rounded-lg border-2 border-[#D4A373] min-h-10 mt-3 shadow-md p-1">sadasd</div>
                    <div class="bg-[#FAEDCD] rounded-lg border-2 border-[#D4A373] min-h-10 mt-3 shadow-md p-1">sadasd</div>
                    <div class="bg-[#FAEDCD] rounded-lg border-2 border-[#D4A373] min-h-10 mt-3 shadow-md p-1">sadasd</div>
                </div>
            </div>
        </div>
    </main>

</div>