<div class="flex flex-col items-center justify-center mt-24" x-cloak x-data="appData()" x-init="appInit()">
    <div class="flex flex-col">

        <nav class="flex justify-around py-8 bg-white/80
            backdrop-blur-md shadow-md w-full
            fixed top-0 left-0 right-0 z-10">

            <div class="flex items-center">
                <a class="cursor-pointer text-xl font-bold">
                    My Dashboard
                </a>
            </div>

            <div class="items-center hidden space-x-8 lg:flex">
                <a class="flex text-gray-600 hover:text-blue-500
                    cursor-pointer transition-colors duration-300">
                    Home
                </a>

                <a class="flex text-gray-600 hover:text-blue-500
                    cursor-pointer transition-colors duration-300">
                    Calender
                </a>

                <a class="flex text-gray-600 hover:text-blue-500
                    cursor-pointer transition-colors duration-300">
                    Statistics
                </a>

                <a class="flex text-gray-600 hover:text-blue-500
                    cursor-pointer transition-colors duration-300">
                    About Us
                </a>
            </div>

                <a class="flex text-gray-600 
                    cursor-pointer transition-colors duration-300
                    font-semibold text-blue-600">

                    Logout
                </a>
            </div>
        </nav>
    </div>

    <div class="relative bg-gray-100 p-14 pb-28">
	    <h3
        class="input p-4"
        >Enter what you ate
        </h3>

	    <input 
        type="text" 
        class="p-4 border-black border-2 rounded-md" 
        placeholder="Meal" 
        id="meal">

	    <h3 
        class="input p-4">
        Enter the amount of calories
        </h3>

	    <input 
        type="text" 
        class="p-4 border-black border-2 rounded-md" 
        placeholder="Calories" 
        id="calories">

        <button 
        type="button" 
        class="relative bg-emerald-200 border-black 
            border-2 rounded m-4 h-8 w-16" 
        onclick="getInfo()" 
        id="button">
        ENTER
        </button>

        <div
        class="absolute left-1/4 top-16 border-black 
            border-2 px-32 pb-48 pt-3 bg-gray-200">
            <h1>Statistics</h1>
        </div>

        <div
        class="absolute left-1/2 top-16 border-black 
            border-2 px-32 pb-48 pt-3 bg-gray-200">
            <h1>Statistics</h1>
        </div>

        <div
        class="absolute left-3/4 top-16 border-black 
            border-2 px-32 pb-48 pt-3 bg-gray-200">
            <h1>Statistics</h1>
        </div>
	</div>
