<!-- nav -->
<div class="flex flex-col items-center justify-center mt-24" x-data="appData()" x-init="appInit()">
  <div class="flex flex-col">
    <nav class="flex justify-around backdrop-blur-md shadow-md w-full fixed top-0 left-0 right-0 z-10 py-6 bg-yellow-100 text-black">
      <div class="flex items-center hover:text-yellow-500">
        <a class="cursor-pointer text-3xl font-bold">taskr</a>
      </div>
      <div class="items-center hidden space-x-8 lg:flex">
        <a class="flex text-gray-600 hover:text-yellow-500 cursor-pointer transition-colors duration-300" href="/app-index"> Home </a>
        <a class="flex text-gray-600 hover:text-yellow-500 cursor-pointer transition-colors duration-300" href="/about"> About Us </a>
      </div>
      <div>
        {{#if currentUser}}
          <a class="nav__button hover:text-yellow-500 cursor-pointer transition-colors"  href="/user/logout">Logout</a>
        {{else}}
          <a class="nav__button hover:text-yellow-500 cursor-pointer transition-colors" href="/user/signup">Sign up</a>
          &nbsp;
          <a class="nav__button hover:text-yellow-500 cursor-pointer transition-colors" href="/user/login">Log in</a>
        {{/if}}
      </div> 
    </nav>
  </div>
</div> 
<!-- nav -->

<div class="flex h-full items-center justify-center">
  <div class="w-full max-w-md">
    <div>
      <h1 class="mt-10 text-center text-3xl font-bold text-yellow-800">Create Your taskr Account</h1>
    </div>
    <div class="text-center">
      <div class="mt-5">Already have an account with us?</div>
        <a href="/user/login"  class="text-yellow-600 mt-10 hover:underline"> Log In </a>
    </div>
    <form class="mt-5" action="/user/signup" method="post">
      <div class="mt-5 rounded-md shadow-sm">
        <div>
          <label class="sr-only">Username</label>
          <input name="username" type="text" required class="relative block w-full rounded-t-lg rounded-b-lg border border-gray-900 px-3 py-2 text-black placeholder-gray-500  sm:text-sm" placeholder="Username">
        </div>
        <div class="mt-5">
          <label class="sr-only">Email</label>
          <input name="password" type="email" required class="relative block w-full rounded-t-lg rounded-b-lg border border-gray-900 px-3 py-2 text-black placeholder-gray-500  sm:text-sm" placeholder="Email">
        </div>
        <div class="mt-5">
          <label class="sr-only">Password</label>
          <input name="password" type="password" required class="relative block w-full rounded-t-lg rounded-b-lg border border-gray-900 px-3 py-2 text-black placeholder-gray-500  sm:text-sm" placeholder="Password">
        </div>
      </div>
      <div>
        <button type="submit" class="mt-10 justify-center relative flex w-full px-5 py-2 bg-yellow-100 text-yellow-900 font-bold leading-tight rounded shadow-md hover:bg-yellow-400 hover:shadow-lg transition duration-150 ease-in-out">SIGN UP</button>
      </div>
    </form>
  </div>
</div>

